@if (open()) {
  <div
    class="modal-overlay"
    (click)="onBackdropClick($event)"
    (keydown)="onOverlayKeydown($event)"
    tabindex="-1"
  >
    <div class="modal">
      <div class="modal-header">
        <h2 id="modal-title" class="modal-title">{{ title() }}</h2>
        <button type="button" class="modal-close" (click)="onCloseClick()" aria-label="Close modal">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </button>
      </div>

      <div class="modal-body">
        <ng-content></ng-content>
      </div>

      <div class="modal-footer">
        <ng-content select="[modal-actions]"></ng-content>
      </div>
    </div>
  </div>
}
