name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci
        working-directory: apps/frontend

      - name: Lint
        run: npm run lint
        working-directory: apps/frontend

      - name: Prettier Format Check
        run: npm run format:check
        working-directory: apps/frontend

      - name: Run tests
        run: npm test
        working-directory: apps/frontend

      - name: Build project
        run: npm run build
        working-directory: apps/frontend

  backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci
        working-directory: apps/backend

      - name: Prettier Format Check
        run: npm run format:check
        working-directory: apps/backend
